<!DOCTYPE HTML>
<html>
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/navigation') %>

  <div class="container">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4162298414689468"
    crossorigin="anonymous"></script>
    <!-- banner-ad -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-4162298414689468"
    data-ad-slot="1726344396"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    <div class="content">
      <%- body %>
    </div>
  </div>
  <div class="container-narrow">
    <footer> <%- partial('_partial/footer') %> </footer>
  </div> <!-- container-narrow -->
  <%- partial('_partial/search') %>
  <%- partial('_partial/after_footer') %>
</body>
</html>